footer {
    background: linear-gradient(to right, #f1f65e, #f0589f);
    color:black;
    text-align: center;
    position: fixed;
    font-weight: bold;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}